*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-section{
    background-color: black;
    height: 100vh;
    width: 100%;
    color: rgb(33, 32, 32);
    display: grid;
    place-items: center;
    font-size: 8rem;
    animation: fadeIn 2s ease-in-out;
}

.main-section h1{
    position: absolute;
    top: 208px;
    left: 280px;
    animation: slideIn 2s ease-in-out;
}

.main-section img{
    position: absolute;
    height: 400px;
    transform: rotate(338deg);
    filter: drop-shadow(0 0 200px rgb(163, 162, 162));
    animation: rotate 2s linear;
}
.main-section .menu{
    position: absolute;
    color: white;
    font-size: 1.5rem;
    display: flex;
    list-style: none;
    right: 64px;
    top: 26px;
    text-transform: uppercase;
    font-weight: bold;
}

.main-section .menu li{
    margin-left: 64px;
    transition: all .5s ease;
    animation: fadeInLeft 1s ease-in-out;
}

.main-section .menu li:hover{
    box-shadow: 0 0 10px orange;
    cursor: pointer;
}

.main-section .menu li:nth-child(2){
    color: rgb(255, 179, 0);
    animation-delay: 0.2s;
}

.main-section .menu li:nth-child(3){
    animation-delay: 0.4s;
}

.main-section .menu li:nth-child(4){
    animation-delay: 0.6s;
}

.logo img{
    position: absolute;
    height: 100px;
    top: -3px;
    left: 0;
    animation: bounce 2s ease-in-out infinite;
}

.text{
    position: absolute;
    font-size: 2rem;
    width: 37%;
    left: 105px;
    animation: fadeInUp 2s ease-in-out;
}

.text span{
    color: rgb(255, 179, 0);
    font-weight: bold;
}

.text p{
    color: white;
    font-size: 1rem;
    margin-top: 4rem;
}

.text li{
    float: left;
    list-style: none;
    color: rgb(255, 179, 0);
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 10px;
}

.back{
    position: absolute;
    color: orange;
    font-size: 2rem;
    bottom: 0;
    left: 0;
    text-decoration: none;
    animation: fadeIn 2s ease-in-out;
}

.back i{
    color: white;
}

.para{
    position: absolute;
    font-size: 2rem;
    bottom: 0;
    color: orange;
    animation: fadeIn 2s ease-in-out;
}

.social{
    position: absolute;
    display: block;
    font-size: 3rem;
    right: 0;
}

.social a{
    display: block;
    color: orange;
    transition: all .5s ease;
    animation: bounce 2s ease-in-out infinite;
}

.social a:hover{
    box-shadow: 0 0 10px orange;
}

.nike{
    color: white;
    font-size: 3rem;
    margin-left: 50rem;
    animation: slidein 2s ease-in-out;
}

/* Animation */

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slideIn{
    0%{
        transform: translateX(-100%);
        }
    100%{
        transform: translateX(0);
    }
}

@keyframes rotate{
    0%{
        transform: rotate(338deg);
    }
    100%{
        transform: rotate(698deg);
    }
}

@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-20%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}